In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [3]:
data = pd.read_csv("../data/features.csv", index_col=0)
label = pd.read_csv("../data/label.csv", index_col=0)

In [4]:
data

             vis  r_fri_follow   avg_fav  frequency
0       0.082857      0.753376  0.849462   0.041217
1       0.165714      1.422460  0.000940   0.001264
2       0.164286      0.493827  0.279457   0.003857
3       0.412857      1.411765  1.619112   0.013863
4       0.082857      0.089286  7.115385   0.000060
...          ...           ...       ...        ...
267462  0.081429      2.606383  0.096381   0.004111
267463  0.040714      0.166667  0.155413   0.000639
267464  0.164286      0.215686  4.125000   0.000373
267465  0.248571      1.416260  0.291469   0.001722
267466  0.082857   3553.333333  0.009178   0.001687

[266203 rows x 4 columns]

In [5]:
label

        0
44058   0
140811  0
255943  0
135815  0
77321   0
...    ..
168993  1
129424  1
239404  1
255849  1
209698  1

[266203 rows x 1 columns]

In [6]:
data["label"] = label

In [7]:
data.dropna(inplace=True)

In [8]:
data

             vis  r_fri_follow   avg_fav  frequency  label
0       0.082857      0.753376  0.849462   0.041217    1.0
1       0.165714      1.422460  0.000940   0.001264    0.0
2       0.164286      0.493827  0.279457   0.003857    1.0
3       0.412857      1.411765  1.619112   0.013863    0.0
4       0.082857      0.089286  7.115385   0.000060    1.0
...          ...           ...       ...        ...    ...
267462  0.081429      2.606383  0.096381   0.004111    0.0
267463  0.040714      0.166667  0.155413   0.000639    1.0
267464  0.164286      0.215686  4.125000   0.000373    1.0
267465  0.248571      1.416260  0.291469   0.001722    0.0
267466  0.082857   3553.333333  0.009178   0.001687    1.0

[264940 rows x 5 columns]

In [9]:
data = data.sample(50000)

In [16]:
X = data.iloc[:,[0,1,2,3]]
Y = data.iloc[:,[4]]

In [17]:
X = X.to_numpy()
Y = Y.to_numpy().T[0]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                    test_size=0.3, random_state=42)

In [19]:
svm_clf = svm.SVC()
svm_clf.fit(X_train, y_train)

SVC()

In [20]:
prediction1 = svm_clf.predict(X_test)
print(accuracy_score(y_test,prediction1),'\n',classification_report(y_test,prediction1))

0.5924
               precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      6110
         1.0       0.59      1.00      0.74      8890

    accuracy                           0.59     15000
   macro avg       0.30      0.50      0.37     15000
weighted avg       0.35      0.59      0.44     15000

In [ ]:
prediction2 = svm_clf.predict(X_train)
print(accuracy_score(y_train,prediction2),'\n',classification_report(y_train,prediction2))