In [1]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['if29']
collection = db['Tweet Worldcup 200']

In [2]:
import numpy as np
import pandas as pd

In [47]:
projection = {
    'user.friends_count': 1, 
    'user.listed_count': 1,
    'user.favourites_count': 1, 
    'user.statuses_count': 1,
    'user.followers_count': 1,
    '_id': 0
}
cursor = collection.find({},projection)

In [48]:
df = pd.json_normalize(cursor, max_level=1)

# Descriptive statistics

In [52]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [53]:
df.describe()

,user.friends_count,user.listed_count,user.favourites_count,user.statuses_count,user.followers_count
count,401998.0,401998.0,401998.0,401998.0,401998.0
mean,1881.1,81.7,11208.4,33904.1,19501.9
std,14715.9,1018.4,31853.5,98474.6,309860.3
min,0.0,0.0,0.0,1.0,0.0
25%,193.0,0.0,356.0,1769.0,146.0
50%,449.0,4.0,2044.0,8603.0,441.0
75%,1052.0,19.0,8668.0,30883.0,1382.0
max,544830.0,114699.0,1718515.0,8899395.0,30755372.0