In [1]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['if29']
collection = db['Tweet Worldcup 200']

In [2]:
import numpy as np
import pandas as pd

In [3]:
projection = {
    'user.friends_count': 1, 
    'user.listed_count': 1,
    'user.favourites_count': 1, 
    'user.statuses_count': 1,
    'user.followers_count': 1,
    '_id': 0
}
cursor = collection.find({},projection)

In [4]:
df = pd.json_normalize(cursor, max_level=1)

# Descriptive statistics

In [6]:
df.describe().astype(int)

,user.friends_count,user.listed_count,user.favourites_count,user.statuses_count,user.followers_count
count,401998,401998,401998,401998,401998
mean,1881,81,11208,33904,19501
std,14715,1018,31853,98474,309860
min,0,0,0,1,0
25%,193,0,356,1769,146
50%,449,4,2044,8603,441
75%,1052,19,8668,30883,1382
max,544830,114699,1718515,8899395,30755372